<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HelpAdminEntities" connectionString="metadata=res://*/HelpAdminModel.csdl|res://*/HelpAdminModel.ssdl|res://*/HelpAdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EAGLESNEST\ADRIANH;initial catalog=HelpAdmin;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>